# Ignore everything
*

# Of course don't ignore the .gitignore
!.gitignore

# But begin allowing from subdirectories
!*/

# Allow certain file extensions
!*.py
!*.js
!*.nim
!*.ts
!*.json
!*.yaml
!*.sh

node_modules/
